# Pythone Crash Course

## What is List?
A list is a data structure in python which is mutable or changeable, in which elements are in order. Each element is called an item.

In [1]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [6]:
1+1

2

In [7]:
1*3

3

In [8]:
1**3

1

In [9]:
2*2

4

In [10]:
2**2

4

In [11]:
2**5

32

In [13]:
2**3

8

In [14]:
2%2

0

In [15]:
5%2

1

In [20]:
x=3
y=5
x+y

8

## String in a Single or Double Quotes

In [23]:
'string single'

'string single'

In [22]:
"string double"

'string double'

In [24]:
print("hello")

hello

In [38]:
## string interpolation and formate used for labling

In [37]:
print("My Name is {}, my number is {}, i have a car {}".format('Urooj Asgher','7','Cultus'))

My Name is Urooj Asgher, my number is 7, i have a car Cultus

In [39]:
print("First: {x} Second: {y}".format(x='Urooj Asgher',y='7'))

First: Urooj Asgher Second: 7

In [40]:
[1,2,3,4]

[1, 2, 3, 4]

In [41]:
['1','2','3']

['1', '2', '3']

# How to Indexing a List

In [43]:
mylist=['2','r','3','t']
mylist[0]

'2'

In [44]:
mylist[3]

't'

In [45]:
mylist[-1]

't'

# ## Above syntax 3 and -1 used for get the last index

In [50]:
mylist[:4]

['2', 'r', '3', 't']

In [51]:
mylist[1:4]

['r', '3', 't']

In [54]:
mylist[3:]

['t']

In [55]:
mylist[1:]

['r', '3', 't']

In [58]:
mylist[0]='urooj'  ### reasign the lisit
mylist

['urooj', 'r', '3', 't']

In [60]:
# how add a new element in a list using append method
mylist.append('rr')
mylist

['urooj', 'r', '3', 't', 'rr']

In [68]:
# nested list
mylist1=[1,2,['2','r','3','t']]
mylist1

[1, 2, ['2', 'r', '3', 't']]

In [75]:
# pop() method is used to remove or delete the item and get its value
mylist.pop(2)

'3'

In [77]:
#this clear the hole list
mylist.clear()
mylist

[]

In [78]:
##The * operator is used for repeatition of list. Let’s see how
mylist=['2','r','3','t']
mylist*4

['2',
 'r',
 '3',
 't',
 '2',
 'r',
 '3',
 't',
 '2',
 'r',
 '3',
 't',
 '2',
 'r',
 '3',
 't']

# Slicing of List

Slicing means extract some part of list. For slicing, we have to specify the ending index. The starting index and interval is optional. Let’s see an example
Slice[1:7:2]
## Note: 
* 1 is the starting index
* 7 is the ending index 
* 2 is the interval(first element is selected then after skipping 2 element)

# How to do Headings, Bold, Italic, Bullets, Insert Image, Colors etc.
* <b> use for bold text

*urooj*
_urooj_
- urooj
1. urooj
    a.urooj